body
{
	background-color: lightgrey;
}
#titleBar
{
	background-color: lightblue;
	border: 5px solid black;
	border-radius: 30px;
	width: 80%;
	margin: 5% auto;
	text-align: center;
	font-family: monospace;
}
#table
{
	background-color: white;
	border: 5px solid black;
	border-radius: 10px;
	height: 297px;
	width: 297px;
	margin: 0px auto;
}
#toolBar
{
	background-color: lightblue;
	border: 5px solid black;
	border-radius: 30px;
	width: 50%;
	height: 100px;
	margin: 5% auto;
}